<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>error page</title>
</head>
<body>
    <!--404 start-->
    <section class="page-error">
        <div class="container p-5 text-center">
            <div class="page-error-img">
                <img src="https://img.freepik.com/free-vector/error-404-concept-illustration_114360-1811.jpg?t=st=1649400299~exp=1649400899~hmac=3ffe01be0b06e359361799ec8236ff0bd6bdd96db9bd34e8d34ec8e8dcecb81c&w=900" alt="" srcset="" class="img-fluid">
                <h6>Return to <a href="/">Home</a></h6>
            </div>
        </div>
    </section>
    <!--404 end-->
</body>
</html>