<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Home page</title>
</head>
<body>
    <!--header and nav bar-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark " >
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="https://cdn-icons-png.flaticon.com/512/1320/1320457.png" class="img-fluid">
                <h6>Saravana</h6>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                      </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
     <!--header and nav bar end-->

     <!--home section-->
     <section class="bg-dark text-white home-container">
       <div class="container">
         <div class="row">
           <div class="col-lg-6 col-md-6 col-12">
             <h1 class="home-header">Learn Something</h1>
             <p class="home-para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, neque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur aut culpa labore magni similique nobis laboriosam beatae inventore, dolorum omnis nostrum maxime est vel nulla hic voluptates voluptatum maiores quas?</p>
           </div>
           <!--second column-->
           <div class="col-lg-6 col-md-6 col-12 home-img">
             <img src="https://img.freepik.com/free-vector/hacker-activity-concept_23-2148543435.jpg?t=st=1649262159~exp=1649262759~hmac=db917810ddcfe16da85c37bb593eb18034e854ac444a51442d314a525c5df85f&w=900" alt="computer" class="img-fluid ">
           </div>
         </div>
       </div>
     </section>
     <!--home end-->

     <!--about start-->
     <section class="about" id="about">
       <div class="container pt-5">
         <div class="row">
           <div class="col-lg-6 col-md-6 col-12">

           </div>
           <div class="col-lg-6 col-md-6 col-12 about-header">
             <h1 class="about-h1 text-dark">
               About <span >US</span>
             </h1>
             <p class="about-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure accusantium accusamus cumque molestias nobis quibusdam ratione, eligendi atque neque aspernatur, quam perferendis expedita consequuntur, ab sunt! Accusantium quidem expedita aliquid.</p>

             <p class="about-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti ipsum, eos, consectetur nobis cupiditate nam dolorum rerum delectus quod exercitationem nostrum quaerat ipsa earum facilis distinctio quisquam animi, impedit iure!</p>
            
          </div>
         </div>
       </div>
     </section>
     <!--about end-->

     <!--login start-->
     <!--login end-->

      <!--footer start-->
      <footer class="bg-dark p-2 text-white text-center">
        <h5>Copyrights@saravanseeker</h5>
      </footer>
      <!--footer end-->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>